/*About Us */
.about_us{
  padding: 80px;
  text-align: center; 
}
.about_us span{
   font-size: 60px;
   color: yellowgreen;
}
.about_us h1{
  font-size: 60px;
  color: black;
}
.about_us h3 {
  font-size: 40px;
  color: black
}
.about_header-img img{
  display: block;
  margin-top: 50px;
  width: 100%;
  box-shadow: 12px 10px 10px 4px yellowgreen;
}
.col-12 h4{
  font-size: 30px;
  font-family: 'Abril Fatface', serif;
  text-align: left;
}
#about_margin{
  margin-top: 20px;
}
#about_margin .card{
  border: 2px solid yellowgreen;
  margin: 3px;
  border-radius: 10px;
}
#about_margin h1{
  padding: 10px;
}
.service-box1 svg{
  color: yellowgreen;
  margin-top: 25px;
  margin-left: 15px;
  box-shadow: 12px 10px 10px 4px rgb(96, 97, 96); 
}
.our_design{
  text-align: center; 
}
.our_design h1{
  font-size: 60px;
  color: black;
}
.list {
   font-size:50px;
   text-align:center;
   color: yellowgreen;
}
.list-li{
  font-size:35px;
  text-align:center;
}
#project_name1 .card{
  border: 3px solid yellowgreen; 
}
#project_name1 h2{
  margin-top: 30px;
  text-align: center;
}